<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>F:\\code\\musheng\\src\\WebApplication\\Sconit\\Resources</languageFileFolder>
		<connectionString>
			<!--Server=10.20.96.66;Database=sconit_musheng;uid=sconittest;pwd=sconittest;-->
			<!--Server=localhost;Database=sconittrunk;uid=sconittest;pwd=sconittest;-->
			<!--Server=192.168.210.121;Database=sconit_test;uid=sa;pwd=temp100;-->
			<!--Server=localhost\SQLEXPRESS;Database=Sconit_Musheng;uid=sconittest;pwd=sconittest;-->
			<!--Server=10.20.107.11;Database=LPP_CS_TEST;uid=sconittest;pwd=sconittest;-->  
      server=192.168.50.125;database=lpp_musheng;uid=sconitmusheng;pwd=sconitmusheng;
		</connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
