<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate the service interface." %>
<%@ Property Name="AssemblyName" Type="String" Default="com.Sconit" Category="EntityClass" Description="The assembly that contains the entity class." %>
<%@ Property Name="EntityClassName" Type="String" Category="EntityClass" Description="The entity class name." %>
<%@ Property Name="ModuleGroupName" Type="String" Category="ModuleGroup" Description="The module group which contains the entity, for example, Security." %>
using System;

//TODO: Add other using statements here.

namespace <%=this.AssemblyName%>.Service.<%=this.ModuleGroupName%>
{
    public interface I<%=EntityClassName%>Mgr : I<%=EntityClassName%>BaseMgr
    {
        #region Customized Methods

        //TODO: Add other methods here.

        #endregion Customized Methods
    }
}


#region Extend Interface

namespace <%=this.AssemblyName%>.Service.Ext.<%=this.ModuleGroupName%>
{
    public partial interface I<%=EntityClassName%>MgrE : <%=this.AssemblyName%>.Service.<%=this.ModuleGroupName%>.I<%=EntityClassName%>Mgr
    {
    }
}

#endregion Extend Interface