/*颜色定义

*/

body
{
	background-color:#FFFFFF;
}
a 
{
	color:Blue
}

/*定义GridView表格颜色*/
.lefttop{
	background: #93591f url(tr_brown_bg.png) repeat-x; 
	color: #FFFFFF;
}

.GVHeader{
	background: #93591f; 
	color: #FFFFFF;
}

.GVHeader a,.lefttop a{
	color: #FFFFFF;
}
.GVRow {
	color: #000000;
	background-color: #FFFFFF;
}
.GVAlternatingRow{
    background-color: #E8D4AF;
}
.GVSelectedRow{background-color: #DAD6C5;}
/*定义overbox样式,add by QQ*/
.obhd {
	  background:#F3F0E7;
	  font-size:12px;
	  font-weight:bold;
	  color:#6E6213;
	  border:1px solid #DFD9A7;
	  padding:5px;
	  width:450px;
}

.obbd {
	  background:#FFFFFF;
	  font-size:12px;
	  color:#6E5013;
	  border-left:1px solid #DFD9A7;
	  border-right:1px solid #DFD9A7;
	  border-bottom:1px solid #DFD9A7;
	  padding:5px;
	  width:450px;
	  filter:alpha(opacity=90);
}