<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility id="nhibernate" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" DefaultFlushMode="Commit">
      <factory id="nhibernate.factory">
        <settings>
          <item key="hibernate.connection.provider">
            NHibernate.Connection.DriverConnectionProvider
          </item>
          <item key="hibernate.connection.driver_class">
            NHibernate.Driver.SqlClientDriver
          </item>
          <item key="hibernate.connection.connection_string">
            #{connectionString}
          </item>
          <item key="hibernate.dialect">
            NHibernate.Dialect.MsSql2005Dialect
          </item>
          <item key="hibernate.show_sql">
            false
          </item>
          <item key="hibernate.command_timeout">
            300
          </item>
          <!--
<item key="hibernate.cache.use_second_level_cache">
true
</item>
<item key="hibernate.cache.provider_class">
NHibernate.Caches.Prevalence.PrevalenceCacheProvider, NHibernate.Caches.Prevalence
</item>
<item key="hibernate.cache.region_prefix">
sconit
</item>
<item key="prevalenceBase">
d:\prevalenceCache
</item>-->
        </settings>
        <assemblies>
          <assembly>com.Sconit.Entity</assembly>
        </assemblies>
      </factory>
    </facility>
  </facilities>
  <components>
    <component
    id="generic.data.access"
    service="com.Sconit.Persistence.INHDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.NHDaoBase, com.Sconit.Persistence" />

    <component
    id="criteria.data.access"
    service="com.Sconit.Persistence.Criteria.ICriteriaDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Criteria.NH.NHCriteriaDao, com.Sconit.Persistence" />

    <component
    id="hql.data.access"
    service="com.Sconit.Persistence.Hql.IHqlDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Hql.NH.NHHqlDao, com.Sconit.Persistence" />

    <!-- master data -->
    <component
    id="user.data.access"
    service="com.Sconit.Persistence.MasterData.IUserDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUserDao, com.Sconit.Persistence" />

    <component
    id="userRole.data.access"
    service="com.Sconit.Persistence.MasterData.IUserRoleDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUserRoleDao, com.Sconit.Persistence" />

    <component
    id="fileUpload.data.access"
    service="com.Sconit.Persistence.MasterData.IFileUploadDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFileUploadDao, com.Sconit.Persistence" />

    <component
    id="permission.data.access"
    service="com.Sconit.Persistence.MasterData.IPermissionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPermissionDao, com.Sconit.Persistence" />

    <component
    id="codeMaster.data.access"
    service="com.Sconit.Persistence.MasterData.ICodeMasterDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCodeMasterDao, com.Sconit.Persistence" />

    <component
    id="favorites.data.access"
    service="com.Sconit.Persistence.MasterData.IFavoritesDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFavoritesDao, com.Sconit.Persistence" />

    <component
    id="entityPreference.data.access"
    service="com.Sconit.Persistence.MasterData.IEntityPreferenceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHEntityPreferenceDao, com.Sconit.Persistence" />

    <component
    id="userPreference.data.access"
    service="com.Sconit.Persistence.MasterData.IUserPreferenceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUserPreferenceDao, com.Sconit.Persistence" />

    <component
    id="region.data.access"
    service="com.Sconit.Persistence.MasterData.IRegionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRegionDao, com.Sconit.Persistence" />

    <component
    id="supplier.data.access"
    service="com.Sconit.Persistence.MasterData.ISupplierDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHSupplierDao, com.Sconit.Persistence" />

    <component
    id="customer.data.access"
    service="com.Sconit.Persistence.MasterData.ICustomerDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCustomerDao, com.Sconit.Persistence" />

    <component
    id="workCenter.data.access"
    service="com.Sconit.Persistence.MasterData.IWorkCenterDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHWorkCenterDao, com.Sconit.Persistence" />

    <component
    id="role.data.access"
    service="com.Sconit.Persistence.MasterData.IRoleDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRoleDao, com.Sconit.Persistence" />

    <component
    id="workday.data.access"
    service="com.Sconit.Persistence.MasterData.IWorkdayDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHWorkdayDao, com.Sconit.Persistence" />

    <component
    id="shift.data.access"
    service="com.Sconit.Persistence.MasterData.IShiftDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHShiftDao, com.Sconit.Persistence" />

    <component
    id="shiftDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IShiftDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHShiftDetailDao, com.Sconit.Persistence" />

    <component
    id="specialTime.data.access"
    service="com.Sconit.Persistence.MasterData.ISpecialTimeDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHSpecialTimeDao, com.Sconit.Persistence" />

    <component
    id="party.data.access"
    service="com.Sconit.Persistence.MasterData.IPartyDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPartyDao, com.Sconit.Persistence" />

    <component
    id="bom.data.access"
    service="com.Sconit.Persistence.MasterData.IBomDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBomDao, com.Sconit.Persistence" />

    <component
    id="bomDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IBomDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBomDetailDao, com.Sconit.Persistence" />

    <component
    id="location.data.access"
    service="com.Sconit.Persistence.MasterData.ILocationDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHLocationDao, com.Sconit.Persistence" />

    <component
    id="locationTransaction.data.access"
    service="com.Sconit.Persistence.MasterData.ILocationTransactionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHLocationTransactionDao, com.Sconit.Persistence" />

    <component
    id="userPermission.data.access"
    service="com.Sconit.Persistence.MasterData.IUserPermissionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUserPermissionDao, com.Sconit.Persistence" />


    <component
    id="itemCategory.data.access"
    service="com.Sconit.Persistence.MasterData.IItemCategoryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemCategoryDao, com.Sconit.Persistence" />

    <component
    id="itemBrand.data.access"
    service="com.Sconit.Persistence.MasterData.IItemBrandDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemBrandDao, com.Sconit.Persistence" />

    <component
    id="taxRate.data.access"
    service="com.Sconit.Persistence.MasterData.ITaxRateDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHTaxRateDao, com.Sconit.Persistence" />

    <component
    id="item.data.access"
    service="com.Sconit.Persistence.MasterData.IItemDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemDao, com.Sconit.Persistence" />

    <component
    id="itemDiscontinue.data.access"
    service="com.Sconit.Persistence.MasterData.IItemDiscontinueDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemDiscontinueDao, com.Sconit.Persistence" />

    <component
    id="itemReference.data.access"
    service="com.Sconit.Persistence.MasterData.IItemReferenceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemReferenceDao, com.Sconit.Persistence" />

    <component
    id="itemKit.data.access"
    service="com.Sconit.Persistence.MasterData.IItemKitDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemKitDao, com.Sconit.Persistence" />

    <component
    id="uom.data.access"
    service="com.Sconit.Persistence.MasterData.IUomDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUomDao, com.Sconit.Persistence" />

    <component
    id="uomConversion.data.access"
    service="com.Sconit.Persistence.MasterData.IUomConversionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHUomConversionDao, com.Sconit.Persistence" />

    <component
    id="routing.data.access"
    service="com.Sconit.Persistence.MasterData.IRoutingDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRoutingDao, com.Sconit.Persistence" />

    <component
    id="routingDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IRoutingDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRoutingDetailDao, com.Sconit.Persistence" />

    <component
    id="rolePermission.data.access"
    service="com.Sconit.Persistence.MasterData.IRolePermissionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRolePermissionDao, com.Sconit.Persistence" />

    <component
    id="permissionCategory.data.access"
    service="com.Sconit.Persistence.MasterData.IPermissionCategoryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPermissionCategoryDao, com.Sconit.Persistence" />

    <component
    id="address.data.access"
    service="com.Sconit.Persistence.MasterData.IAddressDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHAddressDao, com.Sconit.Persistence" />

    <component
    id="billAddress.data.access"
    service="com.Sconit.Persistence.MasterData.IBillAddressDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBillAddressDao, com.Sconit.Persistence" />

    <component
    id="shipAddress.data.access"
    service="com.Sconit.Persistence.MasterData.IShipAddressDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHShipAddressDao, com.Sconit.Persistence" />

    <component
    id="flow.data.access"
    service="com.Sconit.Persistence.MasterData.IFlowDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFlowDao, com.Sconit.Persistence" />

    <component
    id="flowDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IFlowDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFlowDetailDao, com.Sconit.Persistence" />

    <component
    id="flowBinding.data.access"
    service="com.Sconit.Persistence.MasterData.IFlowBindingDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFlowBindingDao, com.Sconit.Persistence" />

    <component
    id="orderHead.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderHeadDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderHeadDao, com.Sconit.Persistence"/>

    <component
    id="orderDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderDetailDao, com.Sconit.Persistence"/>

    <component
    id="orderLocationTransaction.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderLocationTransactionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderLocationTransactionDao, com.Sconit.Persistence"/>

    <component
    id="orderPlannedBackflush.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderPlannedBackflushDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderPlannedBackflushDao, com.Sconit.Persistence"/>

    <component
    id="orderOperation.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderOperationDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderOperationDao, com.Sconit.Persistence"/>

    <component
    id="orderBindingDao.data.access"
    service="com.Sconit.Persistence.MasterData.IOrderBindingDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHOrderBindingDao, com.Sconit.Persistence"/>

    <!--<component
id="businessRule.data.access"
service="com.Sconit.Persistence.MasterData.IBusinessRuleDao, com.Sconit.Persistence"
type="com.Sconit.Persistence.MasterData.NH.NHBusinessRuleDao, com.Sconit.Persistence"/>-->

    <component
    id="priceListDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IPriceListDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPriceListDetailDao, com.Sconit.Persistence"/>

    <component
    id="numberControl.data.access"
    service="com.Sconit.Persistence.MasterData.INumberControlDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHNumberControlDao, com.Sconit.Persistence"/>

    <component
    id="workdayShift.data.access"
    service="com.Sconit.Persistence.MasterData.IWorkdayShiftDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHWorkdayShiftDao, com.Sconit.Persistence" />

    <component
    id="currency.data.access"
    service="com.Sconit.Persistence.MasterData.ICurrencyDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCurrencyDao, com.Sconit.Persistence" />

    <component
    id="currencyExchange.data.access"
    service="com.Sconit.Persistence.MasterData.ICurrencyExchangeDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCurrencyExchangeDao, com.Sconit.Persistence" />

    <component
    id="priceList.data.access"
    service="com.Sconit.Persistence.MasterData.IPriceListDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPriceListDao, com.Sconit.Persistence"/>

    <component
    id="locationDetail.data.access"
    service="com.Sconit.Persistence.MasterData.ILocationDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHLocationDetailDao, com.Sconit.Persistence"/>

    <component
    id="locationLotDetail.data.access"
    service="com.Sconit.Persistence.MasterData.ILocationLotDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHLocationLotDetailDao, com.Sconit.Persistence"/>

    <component
    id="receipt.data.access"
    service="com.Sconit.Persistence.MasterData.IReceiptDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHReceiptDao, com.Sconit.Persistence"/>

    <component
    id="receiptDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IReceiptDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHReceiptDetailDao, com.Sconit.Persistence"/>

    <component
    id="receiptInProcessLocation.data.access"
    service="com.Sconit.Persistence.MasterData.IReceiptInProcessLocationDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHReceiptInProcessLocationDao, com.Sconit.Persistence"/>

    <component
    id="namedQuery.data.access"
    service="com.Sconit.Persistence.MasterData.INamedQueryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHNamedQueryDao, com.Sconit.Persistence"/>

    <component
    id="hu.data.access"
    service="com.Sconit.Persistence.MasterData.IHuDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHHuDao, com.Sconit.Persistence"/>

    <component
    id="huOdd.data.access"
    service="com.Sconit.Persistence.MasterData.IHuOddDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHHuOddDao, com.Sconit.Persistence"/>

    <component
    id="miscOrder.data.access"
    service="com.Sconit.Persistence.MasterData.IMiscOrderDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMiscOrderDao, com.Sconit.Persistence"/>

    <component
    id="miscOrderDetail.data.access"
    service="com.Sconit.Persistence.MasterData.IMiscOrderDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMiscOrderDetailDao, com.Sconit.Persistence"/>

    <component
    id="cycleCount.data.access"
    service="com.Sconit.Persistence.MasterData.ICycleCountDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCycleCountDao, com.Sconit.Persistence"/>

    <component
    id="cycleCountDetail.data.access"
    service="com.Sconit.Persistence.MasterData.ICycleCountDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCycleCountDetailDao, com.Sconit.Persistence"/>

    <component
    id="cycleCountResult.data.access"
    service="com.Sconit.Persistence.MasterData.ICycleCountResultDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCycleCountResultDao, com.Sconit.Persistence"/>

    <component
    id="plannedBillDao.data.access"
    service="com.Sconit.Persistence.MasterData.IPlannedBillDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPlannedBillDao, com.Sconit.Persistence"/>

    <component
    id="billTransactionDao.data.access"
    service="com.Sconit.Persistence.MasterData.IBillTransactionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBillTransactionDao, com.Sconit.Persistence"/>

    <component
    id="shiftPlanScheduleDao.data.access"
    service="com.Sconit.Persistence.MasterData.IShiftPlanScheduleDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHShiftPlanScheduleDao, com.Sconit.Persistence"/>

    <component
    id="inspectOrderDao.data.access"
    service="com.Sconit.Persistence.MasterData.IInspectOrderDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHInspectOrderDao, com.Sconit.Persistence"/>

    <component
    id="inspectOrderDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IInspectOrderDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHInspectOrderDetailDao, com.Sconit.Persistence"/>

    <component
    id="itemTypeDao.data.access"
    service="com.Sconit.Persistence.MasterData.IItemTypeDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHItemTypeDao, com.Sconit.Persistence"/>
    
    <!-- procurement -->
    <component
    id="purchasePriceList.data.access"
    service="com.Sconit.Persistence.Procurement.IPurchasePriceListDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHPurchasePriceListDao, com.Sconit.Persistence"/>

    <component
    id="autoOrderTrack.data.access"
    service="com.Sconit.Persistence.Procurement.IAutoOrderTrackDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHAutoOrderTrackDao, com.Sconit.Persistence"/>

    <component
    id="itemFlowPlan.data.access"
    service="com.Sconit.Persistence.Procurement.IItemFlowPlanDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHItemFlowPlanDao, com.Sconit.Persistence"/>

    <component
    id="itemFlowPlanDetail.data.access"
    service="com.Sconit.Persistence.Procurement.IItemFlowPlanDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHItemFlowPlanDetailDao, com.Sconit.Persistence"/>

    <component
    id="itemFlowPlanTrack.data.access"
    service="com.Sconit.Persistence.Procurement.IItemFlowPlanTrackDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHItemFlowPlanTrackDao, com.Sconit.Persistence"/>

    <component
    id="orderTracer.data.access"
    service="com.Sconit.Persistence.Procurement.IOrderTracerDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Procurement.NH.NHOrderTracerDao, com.Sconit.Persistence"/>

    <!-- distribution -->
    <component
    id="salesPriceList.data.access"
    service="com.Sconit.Persistence.Distribution.ISalesPriceListDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Distribution.NH.NHSalesPriceListDao, com.Sconit.Persistence"/>

    <component
    id="inProcessLocation.data.access"
    service="com.Sconit.Persistence.Distribution.IInProcessLocationDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Distribution.NH.NHInProcessLocationDao, com.Sconit.Persistence"/>

    <component
    id="inProcessLocationDetail.data.access"
    service="com.Sconit.Persistence.Distribution.IInProcessLocationDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Distribution.NH.NHInProcessLocationDetailDao, com.Sconit.Persistence"/>

    <component
    id="inProcessLocationTrack.data.access"
    service="com.Sconit.Persistence.Distribution.IInProcessLocationTrackDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Distribution.NH.NHInProcessLocationTrackDao, com.Sconit.Persistence"/>


    <!-- Production -->
    <component
    id="actingBillDao.data.access"
    service="com.Sconit.Persistence.MasterData.IActingBillDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHActingBillDao, com.Sconit.Persistence"/>

    <component
    id="billDao.data.access"
    service="com.Sconit.Persistence.MasterData.IBillDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBillDao, com.Sconit.Persistence"/>

    <component
    id="billDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IBillDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHBillDetailDao, com.Sconit.Persistence"/>


    <component
    id="employeeDao.data.access"
    service="com.Sconit.Persistence.MasterData.IEmployeeDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHEmployeeDao, com.Sconit.Persistence"/>

    <component
    id="workingHoursDao.data.access"
    service="com.Sconit.Persistence.MasterData.IWorkingHoursDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHWorkingHoursDao, com.Sconit.Persistence"/>

    <component
    id="clientMonitorDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientMonitorDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientMonitorDao, com.Sconit.Persistence"/>

    <component
    id="clientLogDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientLogDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientLogDao, com.Sconit.Persistence"/>

    <component
    id="clientOrderHeadDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientOrderHeadDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientOrderHeadDao, com.Sconit.Persistence"/>

    <component
    id="clientOrderDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientOrderDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientOrderDetailDao, com.Sconit.Persistence"/>

    <component
    id="clientWorkingHoursDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientWorkingHoursDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientWorkingHoursDao, com.Sconit.Persistence"/>

    <component
    id="clientDao.data.access"
    service="com.Sconit.Persistence.MasterData.IClientDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHClientDao, com.Sconit.Persistence"/>

    <component
    id="pickListDao.data.access"
    service="com.Sconit.Persistence.MasterData.IPickListDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPickListDao, com.Sconit.Persistence"/>

    <component
    id="pickListDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IPickListDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPickListDetailDao, com.Sconit.Persistence"/>

    <component
    id="pickListResultDao.data.access"
    service="com.Sconit.Persistence.MasterData.IPickListResultDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHPickListResultDao, com.Sconit.Persistence"/>

    <component
    id="storageBinDao.data.access"
    service="com.Sconit.Persistence.MasterData.IStorageBinDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHStorageBinDao, com.Sconit.Persistence"/>

    <component
    id="storageAreaDao.data.access"
    service="com.Sconit.Persistence.MasterData.IStorageAreaDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHStorageAreaDao, com.Sconit.Persistence"/>

    <component
    id="repackDao.data.access"
    service="com.Sconit.Persistence.MasterData.IRepackDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRepackDao, com.Sconit.Persistence"/>

    <component
    id="repackDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IRepackDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHRepackDetailDao, com.Sconit.Persistence"/>

    <component
    id="productLineInProcessLocationDetailDao.data.access"
    service="com.Sconit.Persistence.MasterData.IProductLineInProcessLocationDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHProductLineInProcessLocationDetailDao, com.Sconit.Persistence"/>

    <!-- BatchJob -->
    <component
    id="batchJobDetailDao.data.access"
    service="com.Sconit.Persistence.Batch.IBatchJobDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Batch.NH.NHBatchJobDetailDao, com.Sconit.Persistence"/>

    <component
    id="batchJobParameterDao.data.access"
    service="com.Sconit.Persistence.Batch.IBatchJobParameterDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Batch.NH.NHBatchJobParameterDao, com.Sconit.Persistence"/>

    <component
    id="batchRunLogDao.data.access"
    service="com.Sconit.Persistence.Batch.IBatchRunLogDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Batch.NH.NHBatchRunLogDao, com.Sconit.Persistence"/>

    <component
    id="batchTriggerDao.data.access"
    service="com.Sconit.Persistence.Batch.IBatchTriggerDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Batch.NH.NHBatchTriggerDao, com.Sconit.Persistence"/>

    <component
    id="batchTriggerParameterDao.data.access"
    service="com.Sconit.Persistence.Batch.IBatchTriggerParameterDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Batch.NH.NHBatchTriggerParameterDao, com.Sconit.Persistence"/>

    <component
    id="subjectListDao.data.access"
    service="com.Sconit.Persistence.MasterData.ISubjectListDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHSubjectListDao, com.Sconit.Persistence"/>

    <!-- Dss -->
    <component
    id="dssFtpControlDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssFtpControlDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssFtpControlDao, com.Sconit.Persistence"/>

    <component
    id="dssInboundControlDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssInboundControlDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssInboundControlDao, com.Sconit.Persistence"/>

    <component
    id="dssOutboundControlDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssOutboundControlDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssOutboundControlDao, com.Sconit.Persistence"/>

    <component
    id="dssExportHistoryDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssExportHistoryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssExportHistoryDao, com.Sconit.Persistence"/>

    <component
    id="dssExportHistoryDetailDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssExportHistoryDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssExportHistoryDetailDao, com.Sconit.Persistence"/>

    <component
    id="dssImportHistoryDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssImportHistoryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssImportHistoryDao, com.Sconit.Persistence"/>

    <component
    id="dssSystemDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssSystemDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssSystemDao, com.Sconit.Persistence"/>

    <component
    id="dssObjectMappingDao.data.access"
    service="com.Sconit.Persistence.Dss.IDssObjectMappingDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Dss.NH.NHDssObjectMappingDao, com.Sconit.Persistence"/>

    <!-- View -->
    <component
    id="orderDetailViewDao.data.access"
    service="com.Sconit.Persistence.View.IOrderDetailViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHOrderDetailViewDao, com.Sconit.Persistence"/>

    <component
    id="orderLocTransViewDao.data.access"
    service="com.Sconit.Persistence.View.IOrderLocTransViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHOrderLocTransViewDao, com.Sconit.Persistence"/>

    <component
    id="plannedBillViewDao.data.access"
    service="com.Sconit.Persistence.View.IPlannedBillViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHPlannedBillViewDao, com.Sconit.Persistence"/>

    <component
    id="billAgingViewDao.data.access"
    service="com.Sconit.Persistence.View.IBillAgingViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHBillAgingViewDao, com.Sconit.Persistence"/>


    <component
    id="kpOrderDao.data.access"
    service="com.Sconit.Persistence.MasterData.IKPOrderDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHKPOrderDao, com.Sconit.Persistence"/>

    <component
    id="kpItemDao.data.access"
    service="com.Sconit.Persistence.MasterData.IKPItemDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHKPItemDao, com.Sconit.Persistence"/>

    <component
    id="menu.data.access"
    service="com.Sconit.Persistence.MasterData.IMenuDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMenuDao, com.Sconit.Persistence" />
    <component
    id="menuCommon.data.access"
    service="com.Sconit.Persistence.MasterData.IMenuCommonDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMenuCommonDao, com.Sconit.Persistence" />

    <component
    id="menuIndustry.data.access"
    service="com.Sconit.Persistence.MasterData.IMenuIndustryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMenuIndustryDao, com.Sconit.Persistence" />

    <component
    id="menuCompany.data.access"
    service="com.Sconit.Persistence.MasterData.IMenuCompanyDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHMenuCompanyDao, com.Sconit.Persistence" />

    <component
    id="company.data.access"
    service="com.Sconit.Persistence.MasterData.ICompanyDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHCompanyDao, com.Sconit.Persistence" />

    <component
    id="industry.data.access"
    service="com.Sconit.Persistence.MasterData.IIndustryDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHIndustryDao, com.Sconit.Persistence" />

    <component
    id="menuView.data.access"
    service="com.Sconit.Persistence.View.IMenuViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHMenuViewDao, com.Sconit.Persistence" />

    <component
    id="flowView.data.access"
    service="com.Sconit.Persistence.View.IFlowViewDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.View.NH.NHFlowViewDao, com.Sconit.Persistence" />

    <component
    id="costGroup.data.access"
    service="com.Sconit.Persistence.Cost.ICostGroupDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostGroupDao, com.Sconit.Persistence" />

    <component
    id="costCenter.data.access"
    service="com.Sconit.Persistence.Cost.ICostCenterDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostCenterDao, com.Sconit.Persistence" />

    <component
    id="costElement.data.access"
    service="com.Sconit.Persistence.Cost.ICostElementDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostElementDao, com.Sconit.Persistence" />

    <component
    id="standardCost.data.access"
    service="com.Sconit.Persistence.Cost.IStandardCostDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHStandardCostDao, com.Sconit.Persistence" />

    <component
    id="financeCalendar.data.access"
    service="com.Sconit.Persistence.MasterData.IFinanceCalendarDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.MasterData.NH.NHFinanceCalendarDao, com.Sconit.Persistence" />

    <component
    id="costAllocateMethod.data.access"
    service="com.Sconit.Persistence.Cost.ICostAllocateMethodDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostAllocateMethodDao, com.Sconit.Persistence" />

    <component
    id="costAllocateTransaction.data.access"
    service="com.Sconit.Persistence.Cost.ICostAllocateTransactionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostAllocateTransactionDao, com.Sconit.Persistence" />

    <component
    id="costBalance.data.access"
    service="com.Sconit.Persistence.Cost.ICostBalanceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostBalanceDao, com.Sconit.Persistence" />

    <component
    id="costDetail.data.access"
    service="com.Sconit.Persistence.Cost.ICostDetailDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostDetailDao, com.Sconit.Persistence" />

    <component
    id="costTransaction.data.access"
    service="com.Sconit.Persistence.Cost.ICostTransactionDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostTransactionDao, com.Sconit.Persistence" />

    <component
    id="expenseElement.data.access"
    service="com.Sconit.Persistence.Cost.IExpenseElementDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHExpenseElementDao, com.Sconit.Persistence" />

    <component
    id="inventoryBalance.data.access"
    service="com.Sconit.Persistence.Cost.IInventoryBalanceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHInventoryBalanceDao, com.Sconit.Persistence" />

    <component
    id="costInventoryBalance.data.access"
    service="com.Sconit.Persistence.Cost.ICostInventoryBalanceDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.Cost.NH.NHCostInventoryBalanceDao, com.Sconit.Persistence" />

    <component
     id="language.data.access"
     service="com.Sconit.Persistence.MasterData.ILanguageDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MasterData.NH.NHLanguageDao, com.Sconit.Persistence" />

    <component
     id="ledColorLevel.data.access"
     service="com.Sconit.Persistence.Customize.ILedColorLevelDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.Customize.NH.NHLedColorLevelDao, com.Sconit.Persistence" />

    <component
       id="ledSortLevel.data.access"
       service="com.Sconit.Persistence.Customize.ILedSortLevelDao, com.Sconit.Persistence"
       type="com.Sconit.Persistence.Customize.NH.NHLedSortLevelDao, com.Sconit.Persistence" />

    <component
     id="productLineFacility.data.access"
     service="com.Sconit.Persistence.Customize.IProductLineFacilityDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.Customize.NH.NHProductLineFacilityDao, com.Sconit.Persistence" />

    <component
         id="produtLineFeedSeqence.data.access"
         service="com.Sconit.Persistence.Customize.IProdutLineFeedSeqenceDao, com.Sconit.Persistence"
         type="com.Sconit.Persistence.Customize.NH.NHProdutLineFeedSeqenceDao, com.Sconit.Persistence" />
    
    <component
     id="customerSchedule.data.access"
     service="com.Sconit.Persistence.MRP.ICustomerScheduleDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHCustomerScheduleDao, com.Sconit.Persistence" />
    
    <component
     id="customerScheduleDetail.data.access"
     service="com.Sconit.Persistence.MRP.ICustomerScheduleDetailDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHCustomerScheduleDetailDao, com.Sconit.Persistence" />

    <component
     id="mrpShipPlan.data.access"
     service="com.Sconit.Persistence.MRP.IMrpShipPlanDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHMrpShipPlanDao, com.Sconit.Persistence" />

    <component
     id="mrpRunLog.data.access"
     service="com.Sconit.Persistence.MRP.IMrpRunLogDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHMrpRunLogDao, com.Sconit.Persistence" />

    <component
     id="mrpShipPlanView.data.access"
     service="com.Sconit.Persistence.MRP.IMrpShipPlanViewDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHMrpShipPlanViewDao, com.Sconit.Persistence" />

    <component
     id="mrpReceivePlan.data.access"
     service="com.Sconit.Persistence.MRP.IMrpReceivePlanDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHMrpReceivePlanDao, com.Sconit.Persistence" />

    <component
     id="prodLineIp2.data.access"
     service="com.Sconit.Persistence.Customize.IProdLineIp2Dao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.Customize.NH.NHProdLineIp2Dao, com.Sconit.Persistence" />

    <component
     id="expectTransitInventory.data.access"
     service="com.Sconit.Persistence.MRP.IExpectTransitInventoryDao, com.Sconit.Persistence"
     type="com.Sconit.Persistence.MRP.NH.NHExpectTransitInventoryDao, com.Sconit.Persistence" />
  </components>
</configuration>
