/*颜色定义

*/

body
{
	background-color:#F5F5FF;
}
a 
{
	color:Blue
}

/*定义GridView表格颜色*/
.GVHeader{
	background: #3232FF; 
	color: #FFFFFF;
}
.GVHeader a{
	color: #FFFFFF;
}
.GVRow {
	color: #000000;
	background-color: #FFFFFF;
}
.GVAlternatingRow,.lefttop{
    background-color: #D1D1FF;
}
.GVSelectedRow{background-color: #EFF3FB;}
.GVPager{background-color: #EFF3FB;}
/*定义overbox样式 add by QQ*/
.obhd {
	  background:#D5EBF9;
	  font-size:12px;
	  font-weight:bold;
	  color:#4B7A98;
	  border:1px solid #A5CFE9;
	  padding:5px;
	  width:450px;
}

.obbd {
	  background:#FFFFFF;
	  font-size:12px;
	  color:#1B4966;
	  border-left:1px solid #A5CFE9;
	  border-right:1px solid #A5CFE9;
	  border-bottom:1px solid #A5CFE9;
	  padding:5px;
	  width:450px;
	  filter:alpha(opacity=90);
}