<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <reportTemplateFolder>#{languageFileFolder}/../Reports/Templates/MuSheng/</reportTemplateFolder>
    <code128>Code 128</code128>
  </properties>
  <components>
    <component
			id="ReportMgr.service"
			service="com.Sconit.Service.Ext.Report.IReportMgrE, com.Sconit.Service"
			type="com.Sconit.Service.Ext.Report.Impl.ReportMgrE, com.Sconit.Service" >
      <parameters>
        <dicReportService>
          <dictionary keyType="System.String, mscorlib" >
            <entry key="ASN.xls">RepASNMgr.service</entry>
            <entry key="ItemSample.xls">RepItemMgr.service</entry>
            <entry key="BomDetailSample.xls">RepBomDetailMgr.service</entry>
            <entry key="BarCode.xls">RepBarCodeMgr.service</entry>
            <entry key="BarCode2.xls">RepBarCodeShellFabricMgr.service</entry>
            <entry key="BarCodeShellFabric.xls">RepBarCodeShellFabricMgr.service</entry>
            <entry key="BarCodeHangupPrevention.xls">RepBarCodeHangupPreventionMgr.service</entry>
            <entry key="BarCodeA4.xls">RepBarCodeA4Mgr.service</entry>
            <entry key="BelowBrade.xls">RepBelowBradeMgr.service</entry>
            <entry key="Bill.xls">RepBillMgr.service</entry>
            <entry key="BillSOGroup.xls">RepBillSOGroupMgr.service</entry>
            <entry key="BillPOGroup.xls">RepBillPOGroupMgr.service</entry>
            <entry key="BillMarket.xls">RepBillMarketMgr.service</entry>
            <entry key="DeliveryNote.xls">RepDeliveryNoteMgr.service</entry>
            <entry key="DeliveryNote2.xls">RepDeliveryNoteMgr.service</entry>
            <entry key="InsideBarCodeA4.xls">RepInsideBarCodeA4Mgr.service</entry>
            <entry key="InsideBarCode.xls">RepInsideBarCodeMgr.service</entry>
            <entry key="InspectOrder.xls">RepInspectOrderMgr.service</entry>
            <entry key="PickList.xls">RepPickListMgr.service</entry>
            <entry key="Production.xls">RepProductionMgr.service</entry>
            <entry key="ReceiptNotes.xls">RepReceiptNoteMgr.service</entry>
            <entry key="Repack.xls">RepRepackMgr.service</entry>
            <entry key="RequisitionOrder.xls">RepRequisitionOrderMgr.service</entry>
            <entry key="2RequisitionOrder.xls">RepRequisitionOrderMgr.service</entry>
            <entry key="RequisitionOrderContract.xls">RepRequisitionOrderContractMgr.service</entry>
            <entry key="ProdutLineFeedSeqence.xls">RepProdutLineFeedSeqenceMgr.service</entry>
            <entry key="BillPO.xls">RepBillPOMgr.service</entry>
            
            <!--entry key="RequisitionOrderInternal.xls">#{RepRequisitionOrderInternalMgr.service}</entry-->

            <entry key="Stocktaking.xls">RepStocktakingMgr.service</entry>

            <entry key="QuoteProject.xls">RepQuoteProjectMgr.service</entry>

          </dictionary>
        </dicReportService>
      </parameters>
    </component>

    <component
			id="RepQuoteProjectMgr.service"
			service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
			type="com.Sconit.Service.Ext.Report.Impl.RepQuoteProjectMgrE, com.Sconit.Service"
			lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
			id="RepStocktakingMgr.service"
			service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
			type="com.Sconit.Service.Ext.Report.Impl.RepStocktakingMgrE, com.Sconit.Service"
			lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBillMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

      <component
              id="RepBillSOGroupMgr.service"
              service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
              type="com.Sconit.Service.Ext.Report.Impl.RepBillSOGroupMgrE, com.Sconit.Service"
              lifestyle="transient" >
          <parameters>
              <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
          </parameters>
      </component>

    <component
              id="RepBillPOMgr.service"
              service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
              type="com.Sconit.Service.Ext.Report.Impl.RepBillPOMgrE, com.Sconit.Service"
              lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>


      <component
		id="RepBillPOGroupMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillPOGroupMgrE, com.Sconit.Service"
		lifestyle="transient" >
          <parameters>
              <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
          </parameters>
      </component>
    <component
		id="RepBillMarketMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillMarketMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepInspectOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepInspectOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRequisitionOrderContractMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderContractMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBelowBradeMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBelowBradeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRepackMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRepackMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepPickListMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepPickListMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepDeliveryNoteMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepDeliveryNoteMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepASNMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepASNMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepItemMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepItemMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>


    <component
		id="RepBomDetailMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBomDetailMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
    
    

    <component
		id="RepBarCodeMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBarCodeShellFabricMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeShellFabricMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBarCodeA4Mgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeA4MgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepInsideBarCodeA4Mgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepInsideBarCodeA4MgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
	    id="RepInsideBarCodeMgr.service"
	    service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
	    type="com.Sconit.Service.Ext.Report.Impl.RepInsideBarCodeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepReceiptNoteMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepReceiptNoteMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepProductionMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepProductionMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRequisitionOrderInternalMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderInternalMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepProdutLineFeedSeqenceMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepProdutLineFeedSeqenceMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
    

    <component
		id="RepRequisitionOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
  </components>
</configuration>