<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>G:\\Project\\Sconit_New\\Manufacture\\branch\\musheng\\3.2.x\\src\\WebApplication\\Sconit\\Resources</languageFileFolder>
		<connectionString>
      <!--Server=192.168.50.128;Database=Lpp_Musheng_dx;uid=sconitmusheng;pwd=sconitmusheng;-->
      Server=localhost;Database=LPP_Musheng;uid=sa;pwd=sa;
    </connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
