<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>F:\\code\\musheng\\src\\WebApplication\\Sconit\\Resources</languageFileFolder>
		<connectionString>
      <!--Server=192.168.50.125;Database=Lpp_Musheng;uid=sconitmusheng;pwd=sconitmusheng;-->
      server=LJZ\SQLSERVER;database=lpp_musheng;uid=sa;pwd=sa;
    </connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
