<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>D:\\GIT\\musheng\\src\\WebApplication\\Sconit\\Resources</languageFileFolder>
		<connectionString>
      <!--Server=192.168.50.128;Database=Lpp_Musheng;uid=sconitmusheng;pwd=sconitmusheng;-->
      Server=localhost\SQLSERVER;Database=LPP_Musheng;uid=sa;pwd=P@ssw0rd;
    </connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
