<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sconit_CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <appSettings>
    <!--不操作退出时间间隔 秒-->
    <add key="AutoLogoutInterval" value="3000"/>
    <add key="ScanOnline_MaxRow" value="28"/>
    <add key="ExitPassword" value="cr52401"/>
    <add key="isPrintMonitor" value="false"/>    
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <userSettings>
    <Sconit_CS.Properties.Settings>
      <setting name="DefaultPrintName1" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPrintName2" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPrintName3" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPrintName4" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPrintName5" serializeAs="String">
        <value />
      </setting>
    </Sconit_CS.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ClientMgrWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://222.72.134.233:8080/Webservice/ClientMgrWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClientMgrWSSoap"
        contract="SconitWS.ClientMgrWSSoap" name="ClientMgrWSSoap" />
    </client>
  </system.serviceModel>
</configuration>
