<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="NUnit">
            <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>
    <castle>
        <include uri="file://Config//properties.config"/>
        <include uri="file://Config//common-facilities.config"/>
        <include uri="file://Config//data-access-nh.config"/>
        <include uri="file://Config//common-services.config"/>
    </castle>
    <NUnit>
        <TestRunner>
            <!-- Valid values are STA,MTA. Others ignored. -->
            <add key="ApartmentState" value="STA"/>
        </TestRunner>
    </NUnit>
    <appSettings>
        <add key="WebSiteUrl" value="http://localhost:2010/Sconit/"/>
        <add key="WebUserName" value="su"/>
        <add key="WebPassword" value="demo"/>
    </appSettings>
</configuration>