<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>
            E:\\Project\\Sconit\\trunk\\src\\WebApplication\\Sconit\\Languages
        </languageFileFolder>
		<connectionString>
			<!--Server=10.20.96.66;Database=sconit_test;uid=sconittest;pwd=sconittest;-->
			Server=localhost;Database=sconit_test;uid=sa;pwd=999999;
		</connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
	</properties>
</configuration>
