
body
{
	font-size: 12px;
	font-family: Arial,ו, Tahoma ;
	margin-left: 15px;
	margin-top:10px;
	margin-right:0px;
}

a
{
    color:Blue;   
}
 
img
{
    border:0px;
}

.topbody
{
    margin: 0px;
    font-size:13px; 
    color:#ffffff;
    background: right fixed no-repeat;
}

a.HyperLink
{
    color:#ffffff;
    word-spacing:normal;
    font-size:12px;
    padding:4px;
    filter:
        Dropshadow(offx=1,offy=0,color=grey)
        Dropshadow(offx=0,offy=1,color=grey)
        Dropshadow(offx=0,offy=-1,color=grey)
        Dropshadow(offx=-1,offy=0,color=grey);
}

.toptable
{
    width: 100%; 
    height: 50px;
}

.toptdlogo
{
    width:150px; 
    height: 45px;
}

.toptdmid
{
}

.lefttop
{
    margin-top: 2px;
}
.switch
{
    height:100%;
    background-color:#879294;
 }

/*Nav style*/

.leftbody
{
   margin-left: 0px;
}

.leftbody a
{
   color:Black;
   text-decoration:none;
}

.listfav
{
    width: 220px;
    margin-left: 0px;
}
.listfav ul
{
    list-style-position:outside;
    list-style-type:none;
}
.listfav li
{
    list-style-position: outside;
    line-height: 22px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    text-align: left; 
    margin-left:5px;
    list-style-type:none;
}
.div-favorite span
{
    line-height: 22px;
    float:right;
    color:White;
    filter:alpha(opacity=10);-moz-opacity:0.1;opacity:0.1;
}
.div-favorite img
{
    padding-right:5px;
    margin-bottom:-5px;
}
.div-favorite:hover
{
    background:transparent url(../Images/Frame/remove.png) no-repeat scroll  right;
    cursor:pointer;
}
/* CSS Document */		

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px 10px 1px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:1px 10px 1px 7px; /* IE6 */
}
.buttons button[type]{
    padding:2px 10px 2px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:2px 10px 1px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}